<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-area{
            width: 50%;
            margin: 10% auto;
        }
    </style>
</head>
<body>
{% if not user.is_authenticated %}
    <form class="form-area" method="POST" action="{% url 'user_login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" name="password">
        </div>
        <input type="hidden" value="{{ next }}">
        <button type="submit" class="btn btn-primary">登录</button>
        <span>{{ errors }}</span>
    </form>
{% else %}
    <a href="{% url 'user_logout' %}">退出登录</a>
{% endif %}
</body>
</html>